<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSWT3mw5jS60J3eFmUoINO-KbJHDSmppI</string>
	<key>GCM_SENDER_ID</key>
	<string>279985915704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safeGuard</string>
	<key>PROJECT_ID</key>
	<string>safeguard-efb3a</string>
	<key>STORAGE_BUCKET</key>
	<string>safeguard-efb3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279985915704:ios:bdb06bc3301d8d89eba3cd</string>
</dict>
</plist>